astroid==2.2.5
autopep8==1.4.4
cffi==1.11.5
Click==7.0
isort==4.3.21
lazy-object-proxy==1.3.1
mccabe==0.6.1
pycodestyle==2.5.0
pycparser==2.17
pygit2==0.28.2
pylint==2.2.2
PyYAML==5.1.2
six==1.12.0
tabulate==0.8.3
wrapt==1.11.1
